.App {
  text-align: center;
}
header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form input {
  border: none;  
  padding: 12px 20px;
  border-radius: 8px; 
  margin: 12px; 
}

form input:focus {
  outline: none;
  border: 3px solid #4CAF50;
}

form select {
  border-radius: 8px;
  padding: 10px 20px;
  outline: none;  
  cursor: pointer;
}

.balances-container {
  overflow: scroll;
  max-width:95vw;
}

.balances-container::-webkit-scrollbar{
  display: none;
}

.balances-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  border-radius: 8px 8px;
  overflow: hidden;
}

.balances-table thead tr {
  background-color: #24565f;
  text-align: left;
}

.balances-table th,
.balances-table td {
  padding: 12px 10px;
}

.balances-table tbody tr {
  text-align: left;
  border-bottom: 1px solid rgb(59, 58, 102);
}



.balances-table tbody tr:nth-of-type(even){
  background-color: rgb(30, 138, 71);
}

.balances-table tbody tr:last-of-type {
  border-bottom: 3px solid brown;
}

.interestRate-input {
  width: 60px;
}

.calculate-button {
  background-color: white;  
  color: #4CAF50;
  border: 3px solid #4CAF50;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 8px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;  
}

.calculate-button:hover{
  background-color: #4CAF50;
  color: white;
}

